.pakket_options {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-top: 10%;
    margin-top: 0px;
}

li {
    list-style: none;
}

.list_content {
    border-radius: 10px;
    margin: 10px;
    width: 30vw;
    text-align: center;
    color: white;
    border: 2px solid #333;
    box-shadow: 1px 1px 1px 1px #333;
    cursor: default;
    flex: 0 0 300px;
}

.info_button {
    width: 98%;
    color: white;
    border: none;
    background-color: #0093E9;
    box-shadow: 1px 1px 1.5px 1.5px #0093E9;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 2px;
    transition: 0.5s;
}

.price::before {
    content: "€";
}

.footer {
    position: absolute;
    bottom: 0vh;
    width: 100%;
}

.pakket_image:hover {
    opacity: 0.8;
}

.list_disc
{
    list-style-type: disc;
}

@media screen and (max-width: 1025px) {
    .container>header {
        margin: 0 auto;
        padding: 0px;
        font-size: 70%;
        text-align: right;
    }
}