{% set store = { name: 'Tedeapolis Roleplay', 
                favicon: './Resources/title_icon.png',
                currency: 'EUR',
                branding: 'Tedeapolis',
                logo: './Resources/TDA_logo.png'
             } 
%}

{% set basket = { price: '0.00', 
            
             } 
%}




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="https://raw.githack.com/CorruptSausage/CorruptSausageWebStoreDesign/main/js/modernizr.custom.js"></script>
    <link rel="icon" href="{{ store.favicon }}" type="image/x-icon">
    <link rel="stylesheet" href="https://raw.githack.com/CorruptSausage/CorruptSausageWebStoreDesign/main/style.css" type="text/css">
    <title>{{ store.name }}</title>
</head>

<body>
    <div class="container">
        <ul id="gn-menu" class="gn-menu-main">
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu" style="padding: 0 30px;"><span>Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">
                        <ul class="gn-menu">
                            <li>
                                <a class="bi" style="padding-left: 10px;" href="http://localhost/CorruptSausageWebStoreDesign/index.php"><img src="{{ store.logo }}"
                                        style="padding-right: 10px;" class="navbar_logo">Supporter
                                    Pakketten</a>
                                <ul class="gn-submenu">
                                    <li><a class="gn-icon" href="http://localhost/CorruptSausageWebStoreDesign/pakketten.php">Losse Pakketten</a></li>
                                    <li><a class="gn-icon">Abbonementen</a></li>
                                </ul>
                            </li>
                            <li><a class="gn-icon bi bi-discord">Login</a></li>
                            <li><a class="gn-icon bi-info-square" href="https://discord.gg/bbvr39CVfk"
                                    target="_blank">Support</a></li>
                        </ul>
                    </div><!-- /gn-scroller -->
                </nav>
            </li>
            <li>
                <a class="gn-icon bi bi-cart">{{ basket.price }}</a>
            </li>
            <li>
                <a class="gn-icon bi bi-cash">{{ store.currency }}</a>
            </li>
            <li>
                <a href="https://tedeapolis.nl/" target="_blank"><img src="{{ store.logo }}"
                        class="navbar_logo">Tedeapolis</a>
            </li>
        </ul>
        <header>
            <div class="mt-4 p-5 bg-primary text-white rounded" style="padding: 0px;">
                <h1><img src="{{ store.logo }}" style="width: 20%;">Welkom!</h1>
                <p>
                    <p>Bedankt voor de interesse om <strong>Tedeapolis</strong> te supporten!</p>
                    <p>Om meer informatie te krijgen over welke pakketten wij verkopen, klik je op 'Supporter
                        Pakketten'.
                    </p>
                    <p>Door het supporten van de server zorg je ervoor dat wij de server kunnen betalen en nieuwe
                        updates kunnen uitbrengen voor jullie!</p>
                    <p>Ben je nog <strong>geen</strong> <strong>18 jaar</strong> ? Vraag dan <u>eerst</u>
                        <u>toestemming</u> aan je ouders/verzorgers!</p>
                    <p><em><u><span style="font-size:11px; color: white;">
                                    Controleer altijd dubbel of je de juiste
                                    gegevens hebt
                                    ingevuld! Dubbelcheck ook of je het juiste Discord en FiveM account hebt
                                    gebruikt!
                                </span>
                            </u>
                        </em>
                        <br />
                        <u>
                            <br />
                        </u>
                    </p>
                </p>
            </div>
            <br>
        </header>
    </div>
    <script src="https://raw.githack.com/CorruptSausage/CorruptSausageWebStoreDesign/main/js/classie.js"></script>
    <script src="https://raw.githack.com/CorruptSausage/CorruptSausageWebStoreDesign/main/js/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
    <div class="footer">
        <div class="text-center p-3" style="background-color: #333;">
            <a class="text-white" style="text-decoration: none;">© Copyright Tedeapolis 2022 All Rights Reserved. <a
                    class="corruptsausage_text">CorruptSausage</a></a>
        </div>
    </div>
</body>

</html>