{% set store = { name: 'Tedeapolis Roleplay', 
                favicon: './Resources/title_icon.png',
                currency: 'EUR',
                branding: 'Tedeapolis',
                logo: './Resources/TDA_logo.png'
             } 
%}

{% set basket = { price: '0.00', 
            
             } 
%}




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script
        src="https://rawcdn.githack.com/CorruptSausage/CorruptSausageWebStoreDesign/f455341486171d0b0716bb001e465199d4f1ee35/js/modernizr.custom.js">
    </script>
    <link rel="icon" href="{{ store.favicon }}" type="image/x-icon">
    <link rel="stylesheet" href="https://raw.githack.com/CorruptSausage/CorruptSausageWebStoreDesign/main/style.css"
        type="text/css">
    <!-- <link rel="stylesheet" href="https://raw.githack.com/CorruptSausage/CorruptSausageWebStoreDesign/main/pakketten.css" type="text/css"> -->
    <link rel="stylesheet" href="./style/pakketten.css" type="text/css">
    <title>{{ store.name }}</title>
</head>
<style>
    
</style>

<body>
    <div class="container">
        <ul id="gn-menu" class="gn-menu-main">
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu" style="padding: 0 30px;"><span>Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">
                        <ul class="gn-menu">
                            <li>
                                <a class="bi" style="padding-left: 10px;"
                                    href="http://localhost/CorruptSausageWebStoreDesign/index.php"><img
                                        src="{{ store.logo }}" style="padding-right: 10px;"
                                        class="navbar_logo">Supporter
                                    Pakketten</a>
                                <ul class="gn-submenu">
                                    <li><a class="gn-icon"
                                            href="http://localhost/CorruptSausageWebStoreDesign/pakketten.php">Losse
                                            Pakketten</a></li>
                                    <li><a class="gn-icon">Abbonementen</a></li>
                                </ul>
                            </li>
                            <li><a class="gn-icon bi bi-discord">Login</a></li>
                            <li><a class="gn-icon bi-info-square" href="https://discord.gg/bbvr39CVfk"
                                    target="_blank">Support</a></li>
                        </ul>
                    </div><!-- /gn-scroller -->
                </nav>
            </li>
            <li>
                <a class="gn-icon bi bi-cart">{{ basket.price }}</a>
            </li>
            <li>
                <a class="gn-icon bi bi-cash">{{ store.currency }}</a>
            </li>
            <li>
                <a href="https://tedeapolis.nl/" target="_blank"><img src="{{ store.logo }}"
                        class="navbar_logo">Tedeapolis</a>
            </li>
        </ul>
        <ul class="pakket_options">
            <li class="list_content">
                <div class="pakket_body">
                    <img src="//dunb17ur4ymx4.cloudfront.net/packages/images/f1546053a7946ef44a2ba1f5675dfd8a91271a6d.png"
                        alt="Queue Priority 30D" class="pakket_image">
                    <div class="movie_information">
                        <div class="movie_title">
                            <h4>Queue Priority (30d)</h4>
                        </div>
                        <div class="movie_price">
                            <h4 class="price">17,50</h4>
                        </div>
                        <br>
                        <div class="more_info">
                            <button class="info_button" data-bs-toggle="modal"
                                data-bs-target="#QueuePriority30D">Bekijken</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list_content">
                <div class="pakket_body">
                    <img src="//dunb17ur4ymx4.cloudfront.net/packages/images/bac38f6beb841f4989f797c6926a8546f871d7b8.png"
                        alt="Queue Priority 90D" class="pakket_image">
                    <div class="movie_information">
                        <div class="movie_title">
                            <h4>Queue Priority (90d)</h4>
                        </div>
                        <div class="movie_price">
                            <h4 class="price">45,00</h4>
                        </div>
                        <br>
                        <div class="more_info">
                            <button class="info_button" data-bs-toggle="modal"
                                data-bs-target="#QueuePriority90D">Bekijken</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list_content">
                <div class="pakket_body">
                    <img src="//dunb17ur4ymx4.cloudfront.net/packages/images/1420c1308c4d6f75f8c1e986939286c02ca89dd7.png"
                        alt="Server Supporter 30D" class="pakket_image">
                    <div class="movie_information">
                        <div class="movie_title">
                            <h4>Server Supporter (30d)</h4>
                        </div>
                        <div class="movie_price">
                            <h4 class="price">28,00</h4>
                        </div>
                        <br>
                        <div class="more_info">
                            <button class="info_button" data-bs-toggle="modal"
                                data-bs-target="#ServerSupporter30D">Bekijken</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list_content">
                <div class="pakket_body">
                    <img src="//dunb17ur4ymx4.cloudfront.net/packages/images/cf959192aaefefa86e1734ea5137e86a35000f62.png"
                        alt="Queue Priority 90D" class="pakket_image">
                    <div class="movie_information">
                        <div class="movie_title">
                            <h4>Server Supporter (90d)</h4>
                        </div>
                        <div class="movie_price">
                            <h4 class="price">70,00</h4>
                        </div>
                        <br>
                        <div class="more_info">
                            <button class="info_button" data-bs-toggle="modal"
                                data-bs-target="#ServerSupporter90D">Bekijken</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list_content">
                <div class="pakket_body">
                    <img src="//dunb17ur4ymx4.cloudfront.net/packages/images/8d544debbf518abbaf7db867cec8c7037cd57884.png"
                        alt="Server Supporter Ultra 30D" class="pakket_image">
                    <div class="movie_information">
                        <div class="movie_title">
                            <h4>Server Supporter Ultra (30d)</h4>
                        </div>
                        <div class="movie_price">
                            <h4 class="price">40,00</h4>
                        </div>
                        <br>
                        <div class="more_info">
                            <button class="info_button" data-bs-toggle="modal"
                                data-bs-target="#ServerSupporterUltra30D">Bekijken</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list_content">
                <div class="pakket_body">
                    <img src="//dunb17ur4ymx4.cloudfront.net/packages/images/0df2abe63d8aec621696cac653bae753d53f545f.png"
                        alt="Server Supporter Ultra 90D" class="pakket_image">
                    <div class="movie_information">
                        <div class="movie_title">
                            <h4>Server Supporter Ultra (90d)</h4>
                        </div>
                        <div class="movie_price">
                            <h4 class="price">99,99</h4>
                        </div>
                        <br>
                        <div class="more_info">
                            <button class="info_button" data-bs-toggle="modal"
                                data-bs-target="#ServerSupporterUltra90D">Bekijken</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <!-- Modals-->
        <!-- Queue Priority 30D -->
        <div class="modal fade" id="QueuePriority30D">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: black;">Queue Priority 30D</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" style="color: black;">
                        Met een donatie van 17,50 euro krijg je voorrang op normale spelers in de wachtrij! Je kan
                        dus sneller spelen op het moment dat de server vol zit!
                        <br>
                        <br>
                        Hou er wel rekening mee dat de wachttijden bij dit pakket rond piektijden alsnog rond de 3
                        uur kunnen liggen!
                        <br>
                        <br>
                        Mocht dit je nog steeds niet snel genoeg gaan kijk dan even voor het server supporter pakket
                        van 28,- euro per maand.
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Doorgaan</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Queue Priority 90D -->
        <div class="modal fade" id="QueuePriority90D">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: black;">Queue Priority 90D</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" style="color: black;">
                        Met een donatie van 45 euro krijg je voorrang op normale spelers in de wachtrij! Je kan dus
                        sneller spelen op het moment dat de server vol zit!
                        <br>
                        <br>
                        Hou er wel rekening mee dat de wachttijden bij dit pakket rond piektijden alsnog rond de 3
                        uur kunnen liggen!
                        <br>
                        <br>
                        Mocht dit je nog steeds niet snel genoeg gaan kijk dan even voor het server supporter pakket
                        van 28,- euro per maand.
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Doorgaan</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Server Supporter 30D -->
        <div class="modal fade" id="ServerSupporter30D">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: black;">Server Supporter 30D</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" style="color: black;">
                        Met een donatie van 28 euro krijg je een aantal gave toevoegingen die je leven wat
                        makkelijker kunnen maken de komende 30 dagen!
                        <br>
                        <br>
                        <ul>
                            <li class="list_disc">
                                Toegang tot onze exclusieve Server Supporter kanalen.
                            </li>
                            <li class="list_disc">
                                1 kenteken die je op een auto naar keuze kan plaatsen met een eigen bedacht woord.
                            </li>
                            <li class="list_disc">
                                1 eigen straatnaam op een plek naar keuze (als deze beschikbaar is). Geldig zolang
                                je
                                pakket loopt.
                            </li>
                            <li class="list_disc">
                                Voorrang in de wachtrij. Je zult voor normale spelers en spelers met de Queue Bypass
                                geplaatst worden.
                            </li>
                            <li class="list_disc">
                                De mogelijkheid om exclusieve auto’s die enkel voor Server Supporter beschikbaar
                                zijn te
                                kopen! (Let op, dit moet nog wel met ingame geld gekocht worden).
                            </li>
                            <br>
                            <br>
                            Gaat de Server Supporter wachtrij nog niet snel genoeg voor je? Kijk dan naar onze
                            Server
                            Supporter Ultra rank!
                        </ul>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Doorgaan</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Server Supporter 90D -->
        <div class="modal fade" id="ServerSupporter90D">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: black;">Server Supporter 90D</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" style="color: black;">
                        Met een donatie van 17,50 euro krijg je voorrang op normale spelers in de wachtrij! Je kan
                        dus sneller spelen op het moment dat de server vol zit!
                        <br>
                        <br>
                        Hou er wel rekening mee dat de wachttijden bij dit pakket rond piektijden alsnog rond de 3
                        uur kunnen liggen!
                        <br>
                        <br>
                        Mocht dit je nog steeds niet snel genoeg gaan kijk dan even voor het server supporter pakket
                        van 28,- euro per maand.
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Doorgaan</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Server Supporter Ultra 30D -->
        <div class="modal fade" id="ServerSupporterUltra30D">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: black;">Server Supporter Ultra 30D</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" style="color: black;">
                        Met een donatie van 17,50 euro krijg je voorrang op normale spelers in de wachtrij! Je kan
                        dus sneller spelen op het moment dat de server vol zit!
                        <br>
                        <br>
                        Hou er wel rekening mee dat de wachttijden bij dit pakket rond piektijden alsnog rond de 3
                        uur kunnen liggen!
                        <br>
                        <br>
                        Mocht dit je nog steeds niet snel genoeg gaan kijk dan even voor het server supporter pakket
                        van 28,- euro per maand.
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Doorgaan</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Server Supporter Ultra 90D -->
        <div class="modal fade" id="ServerSupporterUltra90D">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: black;">Server Supporter Ultra 90D</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" style="color: black;">
                        Met een donatie van 17,50 euro krijg je voorrang op normale spelers in de wachtrij! Je kan
                        dus sneller spelen op het moment dat de server vol zit!
                        <br>
                        <br>
                        Hou er wel rekening mee dat de wachttijden bij dit pakket rond piektijden alsnog rond de 3
                        uur kunnen liggen!
                        <br>
                        <br>
                        Mocht dit je nog steeds niet snel genoeg gaan kijk dan even voor het server supporter pakket
                        van 28,- euro per maand.
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Doorgaan</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                    </div>

                </div>
            </div>
        </div>
        
    </div>

    <div class="footer">
        <div class="text-center p-3" style="background-color: #333;">
            <a class="text-white" style="text-decoration: none;">© Copyright Tedeapolis 2022 All Rights Reserved. <a
                    class="corruptsausage_text">CorruptSausage</a></a>
        </div>
    </div>
    <script
        src="https://rawcdn.githack.com/CorruptSausage/CorruptSausageWebStoreDesign/f455341486171d0b0716bb001e465199d4f1ee35/js/classie.js">
    </script>
    <script
        src="https://rawcdn.githack.com/CorruptSausage/CorruptSausageWebStoreDesign/f455341486171d0b0716bb001e465199d4f1ee35/js/gnmenu.js">
    </script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
</body>

</html>